
    <!-- Logo -->
    <a class="brand-link" href="index.php">
        <img class="brand-image" src="https://code5.mimadigi.vn/2026/august/galbitime_110326W/upload/photo/logo-9857.png" alt="">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <nav class="mt-3">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent text-sm" data-widget="treeview" role="menu" data-accordion="false">
                <!-- dashboard -->
                                <li class="nav-item active">
                    <a class="nav-link active" href="index.php" title="Bảng điều khiển">
                        <i class="nav-icon text-sm fas fa-tachometer-alt"></i>
                        <p>Bảng điều khiển</p>
                    </a>
                </li>

                <!-- Group -->
                                        <li class="nav-item has-treeview menu-group">
                            <a class="nav-link" href="#" title="Group Giới Thiệu">
                                <i class="nav-icon text-sm fas fa-layer-group"></i>
                                <p>
                                    Group Giới Thiệu                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                                                            <ul class="nav nav-treeview">
                                    
                                    
                                    
                                    
                                    
                                    


                                    
                                    
                                                                                <li class="nav-item ">
                                                <a class="nav-link " href="photo?act=photo_static&amp;type=gioi-thieu" title="Banner"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                    <p>Banner</p>
                                                </a>
                                            </li>
                                                                        </ul>
                                                            <ul class="nav nav-treeview">
                                                                                                                            <li class="nav-item ">
                                                <a class="nav-link " href="static?act=update&amp;type=gioi-thieu" title="Về chúng tôi"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                    <p>Về chúng tôi</p>
                                                </a>
                                            </li>
                                        
                                    
                                    
                                                                                                                                                                                                                    
                                                                                                                                                                            <li class="nav-item ">
                                                    <a class="nav-link " href="news?act=man&amp;type=meaning-brand" title="Ý nghĩa thương hiệu"><i class="nav-icon text-sm fas fa-book"></i>
                                                        <p>Ý nghĩa thương hiệu</p>
                                                    </a>
                                                </li>
                                                                                                                                                                                    <li class="nav-item ">
                                                    <a class="nav-link " href="news?act=man&amp;type=chi-nhanh" title="Chi nhánh"><i class="nav-icon text-sm fas fa-book"></i>
                                                        <p>Chi nhánh</p>
                                                    </a>
                                                </li>
                                            
                                    


                                    
                                    
                                                                    </ul>
                                                            <ul class="nav nav-treeview">
                                                                                                                            <li class="nav-item ">
                                                <a class="nav-link " href="static?act=update&amp;type=definitionbrand" title="Định nghĩa thương hiệu"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                    <p>Định nghĩa thương hiệu</p>
                                                </a>
                                            </li>
                                        
                                    
                                    
                                                                                                                                                                                                                                                                                                            
                                                                                                                                                                            <li class="nav-item ">
                                                    <a class="nav-link " href="news?act=man&amp;type=gia-tri" title="Giá trị cốt lõi"><i class="nav-icon text-sm fas fa-book"></i>
                                                        <p>Giá trị cốt lõi</p>
                                                    </a>
                                                </li>
                                                                                                                                                                                    <li class="nav-item ">
                                                    <a class="nav-link " href="news?act=man&amp;type=thong-so" title="Thông số"><i class="nav-icon text-sm fas fa-book"></i>
                                                        <p>Thông số</p>
                                                    </a>
                                                </li>
                                                                                                                                                                                    <li class="nav-item ">
                                                    <a class="nav-link " href="news?act=man&amp;type=tieu-chi" title="Tiêu chí"><i class="nav-icon text-sm fas fa-book"></i>
                                                        <p>Tiêu chí</p>
                                                    </a>
                                                </li>
                                            
                                    


                                    
                                    
                                                                    </ul>
                                                            <ul class="nav nav-treeview">
                                    
                                    
                                    
                                    
                                    
                                    


                                    
                                    
                                                                    </ul>
                                                    </li>
                                            <li class="nav-item has-treeview menu-group">
                            <a class="nav-link" href="#" title="Group Thực đơn">
                                <i class="nav-icon text-sm fas fa-layer-group"></i>
                                <p>
                                    Group Thực đơn                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                                                            <ul class="nav nav-treeview">
                                    
                                                                                                                                                                            <li class="nav-item has-treeview  ">
                                                    <a class="nav-link " href="#" title="Chi tiết thực đơn">
                                                        <i class="nav-icon text-sm fas fa-boxes"></i>
                                                        <p>
                                                            Chi tiết thực đơn                                                            <i class="right fas fa-angle-left"></i>
                                                        </p>
                                                    </a>
                                                    <ul class="nav nav-treeview">
                                                                                                                    <li class="nav-item "><a class="nav-link " href="product?act=man_list&amp;type=thuc-don" title="Danh mục cấp 1"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                                    <p>Danh mục cấp 1</p>
                                                                </a></li>
                                                                                                                                                                                                                                                                                        
                                                        
                                                                                                                                                                                                                                <li class="nav-item "><a class="nav-link " href="product?act=man&amp;type=thuc-don" title="Chi tiết thực đơn"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                                <p>Chi tiết thực đơn</p>
                                                            </a></li>
                                                                                                                                                                    </ul>
                                                </li>
                                            
                                                                                                                            
                                    
                                    
                                    


                                    
                                    
                                                                    </ul>
                                                    </li>
                                    <!-- Search -->
                                <!-- Sản phẩm -->
                                                    
                <!-- Bài viết (Có cấp) -->
                                                    
                <!-- Bài viết (Không cấp) -->
                                                        <li class="nav-item has-treeview  ">
                        <a class="nav-link " href="#" title="Quản lý bài viết">
                            <i class="nav-icon text-sm far fa-newspaper"></i>
                            <p>
                                Quản lý bài viết                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                                                                                                    <li class="nav-item ">
                                        <a class="nav-link " href="news?act=man&amp;type=blog" title="Blog"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Blog</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="news?act=man&amp;type=tuyen-dung" title="Tuyển dụng"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Tuyển dụng</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="news?act=man&amp;type=cau-hoi" title="Câu hỏi thường gặp"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Câu hỏi thường gặp</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="news?act=man&amp;type=chinh-sach" title="Chính sách"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Chính sách</p>
                                        </a>
                                    </li>
                                                        </ul>
                    </li>
                
                <!-- Cart -->
                
                <!-- Tags -->
                
                <!-- Newsletter -->
                                                        <li class="nav-item has-treeview  ">
                        <a class="nav-link " href="#" title="nhận tin">
                            <i class="nav-icon text-sm fas fa-envelope"></i>
                            <p>
                                Quản lý nhận tin                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                                                                                                    <li class="nav-item ">
                                        <a class="nav-link " href="newsletter?act=man&amp;type=dat-ban" title="Đặt bàn"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Đặt bàn</p>
                                        </a>
                                    </li>
                                                        </ul>
                    </li>
                
                <!-- Static -->
                                                        <li class="nav-item has-treeview  ">
                        <a class="nav-link " href="#" title="Quản lý trang tĩnh">
                            <i class="nav-icon text-sm fas fa-bookmark"></i>
                            <p>
                                Quản lý trang tĩnh                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                                                                                                    <li class="nav-item ">
                                        <a class="nav-link " href="static?act=update&amp;type=khong-gian-quan" title="Không gian quán"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Không gian quán</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="static?act=update&amp;type=lien-he" title="Liên hệ"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Liên hệ</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="static?act=update&amp;type=footer" title="Footer"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Footer</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="static?act=update&amp;type=copyright" title="Copyright"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Copyright</p>
                                        </a>
                                    </li>
                                                        </ul>
                    </li>
                
                <!-- Gallery -->
                                                        <li class="nav-item has-treeview  ">
                        <a class="nav-link " href="#" title="Quản lý hình ảnh - video">
                            <i class="nav-icon text-sm fas fa-photo-video"></i>
                            <p>
                                Quản lý hình ảnh - video                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                                                                                                    <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=photo_static&amp;type=favicon" title="Favicon  (.png)"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Favicon  (.png)</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=photo_static&amp;type=logo" title="Logo"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Logo</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=photo_static&amp;type=logo-footer" title="Logo footer"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Logo footer</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=photo_static&amp;type=banner-footer" title="Banner footer"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Banner footer</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=photo_static&amp;type=banner-brand1" title="Ý nghĩa thương hiệu 1"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Ý nghĩa thương hiệu 1</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=photo_static&amp;type=banner-brand" title="Ý nghĩa thương hiệu 2"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Ý nghĩa thương hiệu 2</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=photo_static&amp;type=banner-form" title="Banner form"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Banner form</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=photo_static&amp;type=banner-faq" title="Banner faq"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Banner faq</p>
                                            </a>
                                        </li>
                                                                                                                                                                    <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=man_photo&amp;type=slide" title="Slideshow"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Slideshow</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=man_photo&amp;type=hinhanh-khong-gian-quan" title="Hình ảnh không gian quán"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Hình ảnh không gian quán</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=man_photo&amp;type=goc-khach-hang" title="Góc khách hàng"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Góc khách hàng</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=man_photo&amp;type=social" title="Mạng xã hội"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Mạng xã hội</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=man_photo&amp;type=dieuhuonglink" title="Link Redirect"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Link Redirect</p>
                                            </a>
                                        </li>
                                                                                        </ul>
                    </li>
                
                <!-- Địa điểm -->
                
                <!-- User -->
                
                <!-- Onesignal -->
                
                <!-- SEO page -->
                                                        <li class="nav-item has-treeview  ">
                        <a class="nav-link " href="#" title="Quản lý seo page">
                            <i class="nav-icon text-sm fas fa-share-alt"></i>
                            <p>
                                Quản lý seo page                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                                                                                            <li class="nav-item ">
                                    <a class="nav-link " href="seopage?act=update&amp;type=trang-chu" title="Trang chủ"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                        <p>Trang chủ</p>
                                    </a>
                                </li>
                                                                                            <li class="nav-item ">
                                    <a class="nav-link " href="seopage?act=update&amp;type=gioi-thieu" title="Giới thiệu"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                        <p>Giới thiệu</p>
                                    </a>
                                </li>
                                                                                            <li class="nav-item ">
                                    <a class="nav-link " href="seopage?act=update&amp;type=thuc-don" title="Thực đơn"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                        <p>Thực đơn</p>
                                    </a>
                                </li>
                                                                                            <li class="nav-item ">
                                    <a class="nav-link " href="seopage?act=update&amp;type=tuyen-dung" title="Tuyển dụng"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                        <p>Tuyển dụng</p>
                                    </a>
                                </li>
                                                                                            <li class="nav-item ">
                                    <a class="nav-link " href="seopage?act=update&amp;type=lien-he" title="Liên hệ"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                        <p>Liên hệ</p>
                                    </a>
                                </li>
                                                                                            <li class="nav-item ">
                                    <a class="nav-link " href="seopage?act=update&amp;type=blog" title="Blog"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                        <p>Blog</p>
                                    </a>
                                </li>
                                                    </ul>
                    </li>
                
                <!-- Thiết lập thông tin -->
                                <li class="nav-item  ">
                    <a class="nav-link " href="setting?act=update" title="Thiết lập thông tin">
                        <i class="nav-icon text-sm fas fa-cogs"></i>
                        <p>Thiết lập thông tin</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
