
    <!-- Logo -->
    <a class="brand-link" href="index.php">
        <img class="brand-image" src="https://code5.mimadigi.vn/2026/august/trancongvinh_111726W/upload/photo/loggo-7093.png" alt="">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <nav class="mt-3">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent text-sm" data-widget="treeview" role="menu" data-accordion="false">
                <!-- dashboard -->
                                <li class="nav-item active">
                    <a class="nav-link active" href="index.php" title="Bảng điều khiển">
                        <i class="nav-icon text-sm fas fa-tachometer-alt"></i>
                        <p>Bảng điều khiển</p>
                    </a>
                </li>

                <!-- Group -->
                                        <li class="nav-item has-treeview menu-group">
                            <a class="nav-link" href="#" title="Group Về viên mộc">
                                <i class="nav-icon text-sm fas fa-layer-group"></i>
                                <p>
                                    Group Về viên mộc                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                                                            <ul class="nav nav-treeview">
                                    
                                    
                                    
                                    
                                    
                                    


                                    
                                    
                                                                                <li class="nav-item ">
                                                <a class="nav-link " href="photo?act=photo_static&amp;type=ve-vien-moc" title="Banner"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                    <p>Banner</p>
                                                </a>
                                            </li>
                                                                        </ul>
                                                            <ul class="nav nav-treeview">
                                                                                                                            <li class="nav-item ">
                                                <a class="nav-link " href="static?act=update&amp;type=ve-vien-moc" title="Về viên mộc"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                    <p>Về viên mộc</p>
                                                </a>
                                            </li>
                                        
                                    
                                    
                                                                                                                            
                                                                                                                                                                            <li class="nav-item ">
                                                    <a class="nav-link " href="news?act=man&amp;type=tieu-chi" title="Tiêu chí"><i class="nav-icon text-sm fas fa-book"></i>
                                                        <p>Tiêu chí</p>
                                                    </a>
                                                </li>
                                            
                                    


                                    
                                    
                                                                    </ul>
                                                            <ul class="nav nav-treeview">
                                    
                                    
                                    
                                    
                                    
                                    


                                    
                                    
                                                                    </ul>
                                                            <ul class="nav nav-treeview">
                                    
                                    
                                    
                                    
                                    
                                    


                                    
                                    
                                                                    </ul>
                                                    </li>
                                    <!-- Search -->
                                <!-- Sản phẩm -->
                
                <!-- Bài viết (Có cấp) -->
                                                                                                    <li class="nav-item has-treeview  ">
                                    <a class="nav-link " href="#" title="Quản lý Dịch vụ">
                                        <i class="nav-icon text-sm fas fa-book"></i>
                                        <p>
                                            Quản lý Dịch vụ                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                                                                    <li class="nav-item "><a class="nav-link " href="news?act=man_list&amp;type=dich-vu" title="Danh mục cấp 1"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                    <p>Danh mục cấp 1</p>
                                                </a></li>
                                                                                                                            <li class="nav-item "><a class="nav-link " href="news?act=man_cat&amp;type=dich-vu" title="Danh mục cấp 2"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                    <p>Danh mục cấp 2</p>
                                                </a></li>
                                                                                                                                                                                                        <li class="nav-item "><a class="nav-link " href="news?act=man&amp;type=dich-vu" title="Dịch vụ"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Dịch vụ</p>
                                            </a></li>
                                    </ul>
                                </li>
                                                                                            <li class="nav-item has-treeview  ">
                                    <a class="nav-link " href="#" title="Quản lý Sản phẩm">
                                        <i class="nav-icon text-sm fas fa-book"></i>
                                        <p>
                                            Quản lý Sản phẩm                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                                                                    <li class="nav-item "><a class="nav-link " href="news?act=man_list&amp;type=san-pham" title="Danh mục cấp 1"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                    <p>Danh mục cấp 1</p>
                                                </a></li>
                                                                                                                            <li class="nav-item "><a class="nav-link " href="news?act=man_cat&amp;type=san-pham" title="Danh mục cấp 2"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                    <p>Danh mục cấp 2</p>
                                                </a></li>
                                                                                                                                                                                                        <li class="nav-item "><a class="nav-link " href="news?act=man&amp;type=san-pham" title="Sản phẩm"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Sản phẩm</p>
                                            </a></li>
                                    </ul>
                                </li>
                                                                                            <li class="nav-item has-treeview  ">
                                    <a class="nav-link " href="#" title="Quản lý Dự án">
                                        <i class="nav-icon text-sm fas fa-book"></i>
                                        <p>
                                            Quản lý Dự án                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                                                                    <li class="nav-item "><a class="nav-link " href="news?act=man_list&amp;type=du-an" title="Danh mục cấp 1"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                    <p>Danh mục cấp 1</p>
                                                </a></li>
                                                                                                                                                                                                                                                <li class="nav-item "><a class="nav-link " href="news?act=man&amp;type=du-an" title="Dự án"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Dự án</p>
                                            </a></li>
                                    </ul>
                                </li>
                                            
                <!-- Bài viết (Không cấp) -->
                                                        <li class="nav-item has-treeview  ">
                        <a class="nav-link " href="#" title="Quản lý bài viết">
                            <i class="nav-icon text-sm far fa-newspaper"></i>
                            <p>
                                Quản lý bài viết                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                                                                                                    <li class="nav-item ">
                                        <a class="nav-link " href="news?act=man&amp;type=tin-tuc" title="Tin tức"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Tin tức</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="news?act=man&amp;type=khach-hang" title="Cảm nhận khách hàng"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Cảm nhận khách hàng</p>
                                        </a>
                                    </li>
                                                        </ul>
                    </li>
                
                <!-- Cart -->
                
                <!-- Tags -->
                
                <!-- Newsletter -->
                                                        <li class="nav-item has-treeview  ">
                        <a class="nav-link " href="#" title="nhận tin">
                            <i class="nav-icon text-sm fas fa-envelope"></i>
                            <p>
                                Quản lý nhận tin                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                                                                                                    <li class="nav-item ">
                                        <a class="nav-link " href="newsletter?act=man&amp;type=newsletter" title="Đăng ký nhận tin"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Đăng ký nhận tin</p>
                                        </a>
                                    </li>
                                                        </ul>
                    </li>
                
                <!-- Static -->
                                                        <li class="nav-item has-treeview  ">
                        <a class="nav-link " href="#" title="Quản lý trang tĩnh">
                            <i class="nav-icon text-sm fas fa-bookmark"></i>
                            <p>
                                Quản lý trang tĩnh                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                                                                                                    <li class="nav-item ">
                                        <a class="nav-link " href="static?act=update&amp;type=desc-from" title="Mô tả form đăng kí"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Mô tả form đăng kí</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="static?act=update&amp;type=lien-he" title="Liên hệ"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Liên hệ</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="static?act=update&amp;type=footer" title="Footer"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Footer</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="static?act=update&amp;type=copyright" title="Copyright"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Copyright</p>
                                        </a>
                                    </li>
                                                        </ul>
                    </li>
                
                <!-- Gallery -->
                                                        <li class="nav-item has-treeview  ">
                        <a class="nav-link " href="#" title="Quản lý hình ảnh - video">
                            <i class="nav-icon text-sm fas fa-photo-video"></i>
                            <p>
                                Quản lý hình ảnh - video                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                                                                                                    <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=photo_static&amp;type=favicon" title="Favicon  (.png)"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Favicon  (.png)</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=photo_static&amp;type=logo" title="Logo"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Logo</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=photo_static&amp;type=logo-footer" title="Logo footer"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Logo footer</p>
                                            </a>
                                        </li>
                                                                                                                                                                    <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=man_photo&amp;type=slide" title="Slideshow"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Slideshow</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=man_photo&amp;type=social" title="Mạng xã hội"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Mạng xã hội</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=man_photo&amp;type=doi-tac" title="Đối tác"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Đối tác</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=man_photo&amp;type=dieuhuonglink" title="Link Redirect"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Link Redirect</p>
                                            </a>
                                        </li>
                                                                                        </ul>
                    </li>
                
                <!-- Địa điểm -->
                
                <!-- User -->
                
                <!-- Onesignal -->
                
                <!-- SEO page -->
                                                        <li class="nav-item has-treeview  ">
                        <a class="nav-link " href="#" title="Quản lý seo page">
                            <i class="nav-icon text-sm fas fa-share-alt"></i>
                            <p>
                                Quản lý seo page                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                                                                                            <li class="nav-item ">
                                    <a class="nav-link " href="seopage?act=update&amp;type=trang-chu" title="Trang chủ"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                        <p>Trang chủ</p>
                                    </a>
                                </li>
                                                                                            <li class="nav-item ">
                                    <a class="nav-link " href="seopage?act=update&amp;type=ve-vien-moc" title="Về viên mộc"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                        <p>Về viên mộc</p>
                                    </a>
                                </li>
                                                                                            <li class="nav-item ">
                                    <a class="nav-link " href="seopage?act=update&amp;type=dich-vu" title="Dịch vụ"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                        <p>Dịch vụ</p>
                                    </a>
                                </li>
                                                                                            <li class="nav-item ">
                                    <a class="nav-link " href="seopage?act=update&amp;type=san-pham" title="Sản phẩm"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                        <p>Sản phẩm</p>
                                    </a>
                                </li>
                                                                                            <li class="nav-item ">
                                    <a class="nav-link " href="seopage?act=update&amp;type=du-an" title="Dự án"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                        <p>Dự án</p>
                                    </a>
                                </li>
                                                                                            <li class="nav-item ">
                                    <a class="nav-link " href="seopage?act=update&amp;type=tin-tuc" title="Tin tức"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                        <p>Tin tức</p>
                                    </a>
                                </li>
                                                                                            <li class="nav-item ">
                                    <a class="nav-link " href="seopage?act=update&amp;type=lien-he" title="Liên hệ"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                        <p>Liên hệ</p>
                                    </a>
                                </li>
                                                    </ul>
                    </li>
                
                <!-- Thiết lập thông tin -->
                                <li class="nav-item  ">
                    <a class="nav-link " href="setting?act=update" title="Thiết lập thông tin">
                        <i class="nav-icon text-sm fas fa-cogs"></i>
                        <p>Thiết lập thông tin</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
