
    <!-- Logo -->
    <a class="brand-link" href="index.php">
        <img class="brand-image" src="https://inuvgiare24h.vn/upload/photo/logo-in-uv-gia-re-24h-5636.png" alt="">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <nav class="mt-3">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent text-sm" data-widget="treeview" role="menu" data-accordion="false">
                <!-- dashboard -->
                                <li class="nav-item active">
                    <a class="nav-link active" href="index.php" title="Bảng điều khiển">
                        <i class="nav-icon text-sm fas fa-tachometer-alt"></i>
                        <p>Bảng điều khiển</p>
                    </a>
                </li>

                <!-- Group -->
                                        <li class="nav-item has-treeview menu-group">
                            <a class="nav-link" href="#" title="Group Giới Thiệu">
                                <i class="nav-icon text-sm fas fa-layer-group"></i>
                                <p>
                                    Group Giới Thiệu                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                                                            <ul class="nav nav-treeview">
                                                                                                                            <li class="nav-item ">
                                                <a class="nav-link " href="static?act=update&amp;type=gioi-thieu" title="Về chúng tôi"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                    <p>Về chúng tôi</p>
                                                </a>
                                            </li>
                                        
                                    
                                    
                                    
                                    
                                    


                                    
                                    
                                                                    </ul>
                                                            <ul class="nav nav-treeview">
                                                                                                                            <li class="nav-item ">
                                                <a class="nav-link " href="static?act=update&amp;type=doi-ngu" title="Đội ngũ của chúng tôi"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                    <p>Đội ngũ của chúng tôi</p>
                                                </a>
                                            </li>
                                        
                                    
                                    
                                    
                                    
                                    


                                    
                                    
                                                                    </ul>
                                                            <ul class="nav nav-treeview">
                                    
                                    
                                    
                                    
                                    
                                    


                                    
                                                                                <li class="nav-item ">
                                                <a class="nav-link " href="photo?act=man_photo&amp;type=doi-tac" title="Đối tác"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                    <p>Đối tác</p>
                                                </a>
                                            </li>
                                        
                                                                    </ul>
                                                    </li>
                                    <!-- Search -->
                                <!-- Sản phẩm -->
                                                                                            <li class="nav-item has-treeview  ">
                                <a class="nav-link " href="#" title="Sản phẩm">
                                    <i class="nav-icon text-sm fas fa-boxes"></i>
                                    <p>
                                        Quản lý Sản phẩm                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                                                                <li class="nav-item "><a class="nav-link " href="product?act=man_list&amp;type=san-pham" title="Danh mục cấp 1"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                    <p>Danh mục cấp 1</p>
                                                </a></li>
                                                                                                                                                                                                                                                                                                                                                    <li class="nav-item "><a class="nav-link " href="product?act=man&amp;type=san-pham" title="Sản phẩm"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Sản phẩm</p>
                                        </a></li>
                                                                                                        </ul>
                            </li>
                                                                                <li class="nav-item has-treeview  ">
                                <a class="nav-link " href="#" title="Thư viện ảnh">
                                    <i class="nav-icon text-sm fas fa-boxes"></i>
                                    <p>
                                        Quản lý Thư viện ảnh                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                                                                                                                                                                                                        <li class="nav-item "><a class="nav-link " href="product?act=man&amp;type=thu-vien-anh" title="Thư viện ảnh"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Thư viện ảnh</p>
                                        </a></li>
                                                                                                        </ul>
                            </li>
                                        
                <!-- Bài viết (Có cấp) -->
                                                                                                    <li class="nav-item has-treeview  ">
                                    <a class="nav-link " href="#" title="Quản lý Dịch vụ">
                                        <i class="nav-icon text-sm fas fa-book"></i>
                                        <p>
                                            Quản lý Dịch vụ                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                                                                    <li class="nav-item "><a class="nav-link " href="news?act=man_list&amp;type=dich-vu" title="Danh mục cấp 1"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                    <p>Danh mục cấp 1</p>
                                                </a></li>
                                                                                                                            <li class="nav-item "><a class="nav-link " href="news?act=man_cat&amp;type=dich-vu" title="Danh mục cấp 2"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                    <p>Danh mục cấp 2</p>
                                                </a></li>
                                                                                                                                                                                                        <li class="nav-item "><a class="nav-link " href="news?act=man&amp;type=dich-vu" title="Dịch vụ"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Dịch vụ</p>
                                            </a></li>
                                    </ul>
                                </li>
                                            
                <!-- Bài viết (Không cấp) -->
                                                        <li class="nav-item has-treeview  ">
                        <a class="nav-link " href="#" title="Quản lý bài viết">
                            <i class="nav-icon text-sm far fa-newspaper"></i>
                            <p>
                                Quản lý bài viết                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                                                                                                    <li class="nav-item ">
                                        <a class="nav-link " href="news?act=man&amp;type=tin-tuc" title="BLOG"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>BLOG</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="news?act=man&amp;type=du-an" title="Dự án"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Dự án</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="news?act=man&amp;type=cau-hoi" title="Câu hỏi thường gặp"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Câu hỏi thường gặp</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="news?act=man&amp;type=tieu-chi" title="Tiêu chí"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Tiêu chí</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="news?act=man&amp;type=van-hoa" title="Văn hoá doanh nghiệp"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Văn hoá doanh nghiệp</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="news?act=man&amp;type=chinh-sach" title="Chính sách"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Chính sách</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="news?act=man&amp;type=xuong-in" title="Hệ thống xưởng in"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Hệ thống xưởng in</p>
                                        </a>
                                    </li>
                                                        </ul>
                    </li>
                
                <!-- Cart -->
                
                <!-- Tags -->
                                                        <li class="nav-item has-treeview  ">
                        <a class="nav-link " href="#" title="Quản lý tags">
                            <i class="nav-icon text-sm fas fa-tags"></i>
                            <p>
                                Quản lý tags                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                                                                                                    <li class="nav-item ">
                                        <a class="nav-link " href="tags?act=man&amp;type=dich-vu" title="Tags dịch vụ"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Tags dịch vụ</p>
                                        </a>
                                    </li>
                                                        </ul>
                    </li>
                
                <!-- Newsletter -->
                                                        <li class="nav-item has-treeview  ">
                        <a class="nav-link " href="#" title="nhận tin">
                            <i class="nav-icon text-sm fas fa-envelope"></i>
                            <p>
                                Quản lý nhận tin                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                                                                                                    <li class="nav-item ">
                                        <a class="nav-link " href="newsletter?act=man&amp;type=newsletter" title="Đăng ký nhận tin"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Đăng ký nhận tin</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="newsletter?act=man&amp;type=tu-van" title="Đăng ký tư vấn"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Đăng ký tư vấn</p>
                                        </a>
                                    </li>
                                                        </ul>
                    </li>
                
                <!-- Static -->
                                                        <li class="nav-item has-treeview  ">
                        <a class="nav-link " href="#" title="Quản lý trang tĩnh">
                            <i class="nav-icon text-sm fas fa-bookmark"></i>
                            <p>
                                Quản lý trang tĩnh                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                                                                                                    <li class="nav-item ">
                                        <a class="nav-link " href="static?act=update&amp;type=slogan" title="Slogan"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Slogan</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="static?act=update&amp;type=lien-he" title="Liên hệ"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Liên hệ</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="static?act=update&amp;type=footer" title="Footer"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Footer</p>
                                        </a>
                                    </li>
                                                                                                        <li class="nav-item ">
                                        <a class="nav-link " href="static?act=update&amp;type=copyright" title="Copyright"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                            <p>Copyright</p>
                                        </a>
                                    </li>
                                                        </ul>
                    </li>
                
                <!-- Gallery -->
                                                        <li class="nav-item has-treeview  ">
                        <a class="nav-link " href="#" title="Quản lý hình ảnh - video">
                            <i class="nav-icon text-sm fas fa-photo-video"></i>
                            <p>
                                Quản lý hình ảnh - video                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                                                                                                    <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=photo_static&amp;type=favicon" title="Favicon  (.ico GG rất thích)"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Favicon  (.ico GG rất thích)</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=photo_static&amp;type=logo" title="Logo"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Logo</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=photo_static&amp;type=logo-footer" title="Logo footer"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Logo footer</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=photo_static&amp;type=banner-faq" title="Banner faq"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Banner faq</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=photo_static&amp;type=video-gt" title="Video Giới thiệu"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Video Giới thiệu</p>
                                            </a>
                                        </li>
                                                                                                                                                                    <li class="nav-item ">
                                            <a class="nav-link " href="photo?act=man_photo&amp;type=slide" title="Slideshow"><i class="nav-icon text-sm far fa-caret-square-right"></i>
                                                <p>Slideshow</p>
                                            </a>
                                        </li>
                                                                            <li class="nav-item ">
                                            </li></ul></li></ul></nav></div>